/******** Global *********/
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    /* background: #071013; */
}

.mb-sm {
    margin-bottom: 10px;
}

.mb-md {
    margin-bottom: 20px;
}

.mb-lg {
    margin-bottom: 40px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.section-title {
    margin-bottom: 16px;
    text-align: center;
}

html {
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

body {
    overflow-x: hidden;
    margin: auto;
    /* background: url(../images/Seun-bg.jpg), #FFFFFF; */
    /* background: url(../images/Seun-bg.jpg), #071013; */
    background: #071013;
    /* background-size: cover;
    background-repeat: no-repeat; */
    /* width: 100vw; */
}

h3 {
    font-family: 'Baloo Bhai', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 38px;
    /* color: #071013; */
    color: #FFFFFF;
    text-transform: uppercase;
}

h4 {
    font-family: 'Baloo Bhai', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 38px;
    color: #AAAAAA;
    text-transform: lowercase;
}

a {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #AAAAAA;
    text-decoration: none;
}

.btn a {
    /* background: #FFFFFF; */
    /* background: #EE4B2B; */
    background: #071013;
    /* border: 1px solid #EE4B2B; */
    border: 2px solid #EE4B2B;
    border-radius: 10px;
    font-style: italic;
    font-weight: 500;
    font-size: 9px;
    line-height: 11px;
    /* color: #071013; */
    color: #EE4B2B;
    text-align: center;
    display: inline-block;
    padding: 0.375rem 0.75rem;
    white-space: nowrap;
    vertical-align: middle;
    text-transform: uppercase;
    margin: 0.3em;
    text-decoration: none;
}

/******** Showcase *********/

.showcase {
    height: 100vh;
}

/******** Nav *********/
.nav {
    display: flex;
    align-items: flex-start;
    margin: 1.2em;
    background: #071013;
    height: 52px;
}

.navIcons {
    flex: 1;
    text-align: right;
    display: flex;
    flex-direction: row-reverse;
}

/******** Bio *********/
.bio {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    bottom: 50%;
    min-width: 100%;
    width: 100%;
}

.bio-details {
    width: 65%;
    padding-left: 16px;
}

.bio-details a {
    font-family: Roboto;
    font-style: italic;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #EE4B2B;
    text-decoration: none;
}

.bio-details h6 {
    font-family: Roboto;
    font-style: italic;
    font-weight: bold;
    line-height: 150%;
    text-decoration: none;
    color: #AAAAAA;
}

.profile-image {
    margin-left: -57px;
    z-index: -1;
    flex: 1;
    text-align: right;
    width: 35%;
    overflow: hidden;
}

/******** Srcoll Down *********/

.scroll {
    display: flex;
    transform: rotate(90deg);
    position: absolute;
    width: 50vw;
    left: 25vw;
    bottom: 15%;
    align-items: center;
    z-index: -1;
}

.scroll-text {
    flex: 1;
    flex-basis: auto;
    text-align: center;
}

.scroll-text a {
    text-decoration: none;
    font-style: italic;
}

.scroll-line {
    border: 1px solid #AAAAAA;
    flex: 2;
    flex-basis: auto;
    text-align: center;
}

/******** Swipe Right *********/
.swipe {
    display: flex; 
    position: relative;
    align-items: center;
    z-index: -1; 
}

.swipe-left {
    flex: 4;
    flex-basis: auto;
    text-align: center;
}

.swipe-text {
    flex: 1;
    flex-basis: auto;
    text-align: center;
}

.swipe-line {
    border: 1px solid #AAAAAA;
    flex: 1;
    flex-basis: auto;
    text-align: center;
}

/******** Container *********/
.container {
    margin-bottom: 80px;
    padding-left: 16px;
    padding-right: 16px;
}

/******** Work *********/
.work {
    width: 100%;
    height: auto;
    margin-bottom: 60px;
    overflow-x: scroll;
    scroll-behavior: smooth;
    margin-right: 16px;
}

.carousel {
    width: fit-content;
    height: auto;
    overflow-x: scroll;
    scroll-behavior: smooth;
    display: flex;
    justify-content: space-between;
}

.card {
    width: 132px;
    height: 132px;
    border-radius: 10px;
    margin-right: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    background: #071013;
}

.creativity {
    background: url(../images/creativity.png), #071013;
}

.team-leadership {
    background: url(../images/team_leadership.png), #071013;
}

.analytical-reasoning {
    background: url(../images/analytical_reasoning.png), #071013;
}

.critical-thinking {
    background: url(../images/critical_thinking.png), #071013;
}

.time-management {
    background: url(../images/time_management.png), #071013;
}

.product-management {
    background: url(../images/product_management.png), #071013;
}

.slack {
    background: url(../images/slack.png), #071013;
}

.trello {
    background: url(../images/Trello.png), #071013;
}

.jira {
    background: url(../images/jira.png), #071013;
}

.zoom {
    background: url(../images/zoom.png), #071013;
}

.python {
    background: url(../images/python.png), #071013;
}

.react-native {
    background: url(../images/react_native.png), #071013;
}

.figma {
    background: url(../images/figma.png), #071013;
}

.html-css-js {
    background: url(../images/html_css_js.png), #071013;
}

.dev-ops {
    background: url(../images/dev_ops.png), #071013;
}

.creativity, .team-leadership, .analytical-reasoning, 
.critical-thinking, .time-management, .product-management, 
.slack, .trello, .jira, .zoom, .python, .react-native, 
.figma, .html-css-js, .dev-ops {
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.card-text {
    color: #FFFFFF;
    /* margin: 5px; */
    /* padding: 5px; */
    flex: 1;
}

/******** Porfolio *********/
#portfolio {
    margin-top: 60px; 
}

#portfolio .my-portfolio h3{
    color: #67112d;
}

.jumbotron {
    width: 100%;
    height: auto;
    margin-bottom: 60px;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

.web, .mobile {
    display: flex;
    width: auto;
    overflow-x: scroll;
    justify-content: space-between;
    scroll-behavior: smooth;
}

.casestudy{
    margin-bottom: 10px;
}

.duduloop {
    background: url(../images/duduloop.png), #071013;
}

.caringhands {
    background: url(../images/caringhands.png), #071013;
}

.voyageback {
    background: url(../images/voyageback.png), #071013;
}

/* .travul {
    background: url(../images/travul.png), #ffffff;
} */

.slayy-accessories {
    background: url(../images/slayy-main.png), #ffffff;
}

.slayy-signup {
    background: url(../images/slayy-login.png), #ffffff;
}

.myrx-contact {
    background: url(../images/myrxdevice-contact.png), #ffffff;
}

.myrx-scan {
    background: url(../images/myrxdevice-scan.png), #ffffff;
}

.mobile-casestudy-img {
    width: 300px;
    height: 600px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.mobile-casestudy-about {
    width: 300px;
    height: 200px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.mobile-casestudy-about a {
    font-family: Roboto;
    font-style: italic;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #EE4B2B;
    text-decoration: none;
}

.mobile-casestudy-about h6 {
    font-family: Roboto;
    /* font-style: italic; */
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    /* color: #EE4B2B; */
    text-decoration: none;
}

.casestudy-img {
    width: 300px;
    height: 300px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-right: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-repeat: no-repeat;
    background-position: top;
    background-size: auto;
}

.casestudy-text {
    width: 300px;
    height: 200px;
    background: #fafafa;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-right: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    text-align: center;
}

.casestudy-text-nobg {
    width: 300px;
    height: 50px;
    background: #ffffff;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    text-align: center;
}

.casestudy-align {
    flex: 1;
}


.social {
    margin-top: 80px;
    margin-bottom: 150px;
    text-align: center;
}

/******** Bottom Nav *********/
.bottom-nav {
    background: #FFFFFF;
    border-top: 1px solid #333333;
    box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.25);
    bottom: 0;
    width: 100vw;
    position: fixed;
    height: 52px;
    display: flex;
    align-items: center;
    z-index: 1000000000;
}

.home {
    flex: 1;
    flex-basis: auto;
    text-align: center;
    width: 25%;
}

.myskills {
    flex: 2;
    flex-basis: auto;
    text-align: center;
    width: 25%;
}

.portfolio {
    flex: 3;
    flex-basis: auto;
    text-align: center;
    width: 25%;
}

.message {
    flex: 4;
    flex-basis: auto;
    text-align: center;
    width: 25%;
}


@media (min-width: 576px) {
    .bio-details {
        text-align: right;
        width: 35%;
        padding: 0;
    }
    
    .profile-image {
        text-align: left;
        width: 50%;
        margin: 0;
    }

    .scroll {
        width: 20vw;
        left: 40vw;
    }

    .swipe {
        display: none;
    }
}

@media (min-width: 768px) {
    .work {
        overflow-x: initial;
        margin-right: 0;
    }
    
    .carousel {
        width: auto;
        overflow-x: auto;
    }
}

@media (min-width: 1024px) {
    .container, .showcase {
        padding-left: 10%;
        padding-right: 10%;  
    }
}

@media (min-width: 1280px) {
    .jumbotron {
        overflow: initial;
    }
    
    .web, .mobile {
        overflow-x: initial;
    }
    
    .casestudy-text, .casestudy-img {
        margin-right: 0;
    }
}