body {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #AAAAAA;
    text-decoration: none;
    margin: 0;
    padding: 0;
    background-color: #EE4B2B;
}

/******** Section, Content and Footer *********/

.content, nav, section, footer {
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

.content, section, footer {
    padding: 20px;
}

.content, footer {
    max-width: 375px;
}

/******** Sections *********/

section {
    background-color: #071013;
    margin-bottom: 1px;
    height: 75vh;
    position: relative;
}

.portfolio {
    height: 1200px;
}

.portfolio .content{
    max-width: 50%;
}

.contact {
    margin-bottom: 0;
}

/******** Content *********/

.content {
    margin-top: 20px;
    margin-bottom: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    border-radius: 10px;
}

/******** Footer *********/

footer {
    background-color: #071013;
    text-align: center;
    margin-top: 20px;
    padding: 10px 0;
}

.footer {
    height: 25vh;
}

/******** Fonts *********/
a {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #AAAAAA;
    text-decoration: none;
}

h3 {
    color: #FFF;
    text-align: center;
    font-family: Baloo Bhai;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px;
    text-transform: uppercase;
}

.alt-h3 {
    font-size: 20px;
}

.alt-action-h3 {
    color: #EE4B2B;
    font-size: 20px;
}

h5 {
    color: #EE4B2B;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
}

h6 {
    color: #AAA;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
}

.alt-h6 {
    color: #FFF;
}

/******** Navigation *********/
nav {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0;
    box-sizing: border-box;
    height: 45px;
    top: 0;
    position: sticky;
    display: flex;
    align-items: flex-start;
    background: #071013;
    z-index: 10000; /* Ensure it's on top of other elements */
}

.Logo {
    width: 53px; 
    height: 45px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    flex: 1;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 45px;
}

nav li {
    display: inline;
    margin-right: 2px;
}

/******** Buttons *********/

nav a, .content a {
    text-decoration: none;
    color: #AAAAAA;
    background: #071013;
    border: 2px #EE4B2B solid;
    border-radius: 10px;
    font-style: italic;
    font-weight: 500;
    font-size: 9px;
    line-height: 11px;
    text-align: center;
    display: inline-block;
    padding: 0.375rem 0.75rem;
    white-space: nowrap;
    vertical-align: middle;
    text-transform: uppercase;
    transition: color 0.3s; /* Adding a smooth transition effect */
}

nav a:hover, .content a:hover {
    color: #EE4B2B; /* Change the color to your desired hover color */
}

.content a {
    text-align: center;
}

.outer-div {
    position: relative;
}

.inner-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/******** Showcase *********/
.showcase {
    min-height: 100vh;
    background-color: #071013;
}

.showcase .content {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    top: 40%;
}

/******** Bio Content *********/

.DivBioDetails {
    position: absolute;
    transform: translate(-50%, 0);
}

.Name, .Role, .Tagline {
    text-align: right;
    right: 8px;
    position: relative;
}

.Name, .Role {
    font-family: Baloo Bhai; 
    font-weight: 400;
}

.Name, .Tagline { 
    color: #AAAAAA;
}

.Role .Tagline {
    line-height: 24px;
}

.Name {
    font-size: 24px;  
    text-transform: uppercase; 
    line-height: 38px; 
}

.Role {
    color: white; 
    font-size: 18px;
}

.Tagline {
    font-size: 16px; 
    font-family: Roboto; 
    font-style: italic; 
    font-weight: 700;
}

/******** Bio Image *********/
.DivProfileImage {
    position: absolute;
    transform: translate(40%, 50%);
}

.Image {
    left: 3px;
    border-radius: 226px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ImageBackground {
    left: 0px;
    bottom: -3px;
    position: absolute;
    left: 50%;
    /* transform: translate(-50%, -50%); */
    transform: translate(-50%, 50%);
}

.Oval {
    left: 0px;
    /* bottom: 68px; */
    bottom: -68px;
    position: absolute;
    left: 50%;
    /* transform: translate(-50%, -50%); */
    transform: translate(-50%, 50%);
}

/******** Small Screen *********/

/* Media query for iPad */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .portfolio {
        height: 1400px;
    }
}

/* Media query for iPhone */
@media only screen and (max-width: 767px) {
    .showcase .content {
        display: inline-block;
        background-color: #EE4B2B;
        height: 30%;
    }
    
    .Name, .Role, .Tagline {
        text-align: center;
    }
    
    .DivProfileImage {
        position: relative;
        transform: translate(0, 0);
    }
    
    .DivBioDetails {
        position: relative;
        /* transform: translate(0, -120%); */
        transform: translate(0, 140%);
    }
    
    .ImageBackground ellipse {
        fill: #EE4B2B;
    }
    
    .Oval ellipse {
        fill: #071013;
    }

    nav {
        position: static; /* Remove sticky positioning on smaller screens */
    }

    .content, .portfolio .content, footer {
        max-width: 375px;
    }

    .portfolio {
        height: 1500px;
    }
}